body{
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
h1,h2{
    font-family: 'Trirong', serif;
    font-style: italic;
    background-color: #004E98;
    color: white;
}
h2{
    font-size: 25px;
}
.primary{
    background-color: #004E98;
    color: white;
}
.secondary{
    background-color: #3A6EA5;
    color: white;
}
.accent1{
    background-color: #FF6700;
    color: white;
}
.accent2{
    background-color: #EBEBEB;
}
.sample1{
    font-family: 'Trirong', serif;
    font-style: italic;
    background-color: #FF6700;
    color: white;
    font-size: 30px;
}
.sample2{
    font-family: 'Rubik', sans-serif;
    background-color: #004E98;
    color: white;
    font-size: 30px;
}
.sample3{
    font-family: 'Rubik', sans-serif;
    background-color: #3A6EA5;
    color: white;
    font-size: 20px;
}
.sample4{
    font-family: 'Trirong', serif;
    font-style: italic;
    background-color: #004E98;
    color: white;
    font-size: 30px;
}
.sample5{
    font-family: 'Trirong', serif;
    font-style: italic;
    background-color: #004E98;
    color: white;
    font-size: 25px;
}
.sample6{
    font-family: 'Trirong', serif;
    font-style: italic;
    background-color: #004E98;
    color: white;
    font-size: 20px;
}
.sample7{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
footer{
    background-color: #3A6EA5;
    color: white;
}