*{
    font-family: 'Rubik';
}
header{
    display: grid;
    font-family: 'Trirong';
    font-size: 30px;
    background-color: #FF6700;
    color: black;
}
header img{
    display: block;
}
h1{
    background-color: #004E98;
    font-family: 'Trirong';
    font-style: italic;
    color: white;
    text-align: center;
}

#menu{
    display: block;
    text-decoration: none;
    background-color: #004e98;
    color: white;
}
#menu::before{
    content:"≡";
}
nav{
    font-family: 'Rubik';
    font-size: 30px;
    background-color: #004E98;
    color: white;
}
.navigation{
    list-style: none;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    text-decoration: none;
}
.navigation a:hover, navigation a:active{
    color: black;
    background-color: #FF6700;
}
.show li{
    display: block;
}
#menu.show::before{
    content: "X";
}
nav ul{
    list-style-type: none;
}
section ul{
    list-style-type: none;
}
nav a {
    display: block;  
}
nav a:hover{
    border: 1px solid black;
}
.active{
    background-color: white;
    color: black;
}
h1{
    font-family: 'Trirong';
    font-size: 30px;
    background-color: #004E98;
    color: white;
}
h2{
    font-family: 'Trirong';
    font-size:25px;
    font-style: italic;
    background-color: #004E98;
    color: white;
}
h3{
    font-family: 'Trirong';
    font-size:25px;
    font-style: italic;
    background-color: #004E98;
    color: white;
}
.calendar{
    height: 400px;
    width: 400px;
    margin: 45px;
}
footer{
    font-family: 'Rubik';
    font-size: 20px;
    background-color: #3A6EA5;
    color: white;
}