*{
    font-family: 'Mulish', sans-serif;
    max-width: 100%;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #283618;
    color: #FEFAE0;
    text-align: center;
}
header img{
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu{
    display: block;
    font-size: 1.5rem;
    border:1px solid black;
    /*position: absolute;*/
    top: 1rem;
    right: 1rem;
    text-decoration: none;
}
#menu::before {
    content:"☰";
}
#menu.open::before{
    content:"";
}
.navigation{
    list-style: none;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    text-decoration: none;
}
.navigation a:hover, navigation a:active{
    color: white;
    background-color: black;
}
.show li{
    display: block;
}
#menu.show::before{
    content:"X";
}
nav ul{
    list-style-type: none;
}
section ul{
    list-style-type: none;
}
nav a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: black;
}
nav a:hover{
    border: 1px solid #fff;
}

main{
    background-color: #FEFAE0;
    color: black;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
main h2 {
    text-align: left;
    margin: 2rem;
}
body{
    margin-left: 10%;
    margin-right: 10%;
}
.hero {
    margin: 10px auto;
    position: relative;
    /* height: 300px; */
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.herolabel{
    position: absolute;
    bottom: 30px;
    left: 10px;
    background: radial-gradient(#fff,rgb(12, 43, 66));
    border: 1px solid black;
    padding: 1.5rem;
}
.herolabel p{
    margin: 0;
    padding: .25rem;
    font-size: 1rem;
    font-weight: 600;
}
#mode{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}
#activities {
    text-align: left;
    padding: 2rem;
    border-style: solid;
    margin: 1rem;
}
#info {
    padding: 2rem;
    border-style: solid;
    margin: 1rem;
}
.map{
    width:100%;
    height: auto;
    margin: 0 auto;
}
footer{
    background-color: #606C38;
    color: #FEFAE0;
}