*{
    font-family: 'Mulish', sans-serif;
    max-width: 100%;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #283618;
    color: #FEFAE0;
    text-align: center;
}
header img{
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu{
    display: block;
    font-size: 1.5rem;
    border:1px solid black;
    /*position: absolute;*/
    top: 1rem;
    right: 1rem;
    text-decoration: none;
}
#menu::before {
    content:"☰";
}
#menu.open::before{
    content:"";
}
.navigation{
    list-style: none;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    text-decoration: none;
}
.navigation a:hover, navigation a:active{
    color: white;
    background-color: black;
}
.show li{
    display: block;
}
#menu.show::before{
    content:"X";
}
nav ul{
    list-style-type: none;
}
section ul{
    list-style-type: none;
}
nav a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: black;
}
nav a:hover{
    border: 1px solid #fff;
}

main{
    background-color: #FEFAE0;
    color: black;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
main h2 {
    text-align: left;
    margin: 2rem;
}
body{
    margin-left: 10%;
    margin-right: 10%;
}
.hero {
    margin: 10px auto;
    position: relative;
    /* height: 300px; */
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.herolabel{
    position: absolute;
    bottom: 30px;
    left: 10px;
    background: radial-gradient(#fff,rgb(12, 43, 66));
    border: 1px solid black;
    padding: 1.5rem;
}
.herolabel p{
    margin: 0;
    padding: .25rem;
    font-size: 1rem;
    font-weight: 600;
}
#mode{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}
#activities {
    text-align: left;
    padding: 2rem;
    border-style: solid;
    margin: 1rem;
}
#info {
    padding: 2rem;
    border-style: solid;
    margin: 1rem;
}
.map{
    width:100%;
    height: 400px;
    margin: 1rem auto;
}
/*FORM*/
form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding:.5rem 2%;
}
form legend{
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #9c1c13;
    font-size: .8rem;
}
form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(0,0,0,0.1);
}
form label.sbs{
    display: block;
    padding: .75rem 0 ;
    color:#555;
}
form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}

footer{
    background-color: #606C38;
    color: #FEFAE0;
}